---
language: python
python: "3.6"
addons:
  apt:
    packages:
      - ca-certificates
      - openssl

before_install:
  - |
    git diff --name-only --diff-filter=d $TRAVIS_COMMIT_RANGE | grep -q tokens/ || {
      echo "No updates to token files, skipping build."
      exit
    }
  - git diff --name-only --diff-filter=d $TRAVIS_COMMIT_RANGE | grep tokens/

install:
  - update-ca-certificates --verbose
  - pip install yamllint
  - pip install -r scripts/requirements.txt
cache: pip

script:
  - curl --verbose https://gifto.io/
  - git diff --name-only --diff-filter=d $TRAVIS_COMMIT_RANGE | grep tokens/ | xargs python scripts/test.py
  - git diff --name-only --diff-filter=d $TRAVIS_COMMIT_RANGE | grep tokens/ | xargs yamllint -c .yamllint
