beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
cytoolz==0.9.0
eth-abi==0.5.0
eth-keyfile==0.5.1
eth-keys==0.2.0b3
eth-tester==0.1.0b21
eth-utils==0.7.4
idna==2.6
pycryptodome==3.4.11
pylru==1.0.9
pysha3==1.0.2
requests==2.18.4
cfscrape==1.9.5
rfc3986==1.1.0
rlp==0.6.0
semantic-version==2.6.0
toolz==0.9.0
urllib3==1.22
web3==3.16.4
